<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * Shop System Plugins - Terms of use
 *
 * This terms of use regulates warranty and liability between
 * Wirecard Central Eastern Europe (subsequently referred to as WDCEE)
 * and it's contractual partners (subsequently referred to as customer or customers)
 * which are related to the use of plugins provided by WDCEE.
 * The Plugin is provided by WDCEE free of charge for it's customers and
 * must be used for the purpose of WDCEE's payment platform integration only.
 * It explicitly is not part of the general contract between WDCEE and it's customer.
 * The plugin has successfully been tested under specific circumstances
 * which are defined as the shopsystem's standard configuration (vendor's delivery state).
 * The Customer is responsible for testing the plugin's functionality
 * before putting it into production enviroment.
 * The customer uses the plugin at own risk. WDCEE does not guarantee it's full
 * functionality neither does WDCEE assume liability for any disadvantage related
 * to the use of this plugin. By installing the plugin into the shopsystem the customer
 * agrees to the terms of use. Please do not use this plugin if you do not agree to the terms of use!
 *
 * @category   Phoenix
 * @package    Phoenix_WirecardCheckoutPage
 * @copyright  Copyright (c) 2008 Phoenix Medien GmbH & Co. KG (http://www.phoenix-medien.de)
 */
 -->
<config>
    <modules>
        <Phoenix_WirecardCheckoutPage>
            <version>3.6.4</version>
        </Phoenix_WirecardCheckoutPage>
    </modules>
    <global>
        <models>
            <wirecard_checkout_page>
                <class>Phoenix_WirecardCheckoutPage_Model</class>
            </wirecard_checkout_page>
        </models>
        <helpers>
            <wirecard_checkout_page>
                <class>Phoenix_WirecardCheckoutPage_Helper</class>
            </wirecard_checkout_page>
        </helpers>
        <resources>
            <wirecard_checkout_page_setup>
                <setup>
                    <module>Phoenix_WirecardCheckoutPage</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wirecard_checkout_page_setup>
            <wirecard_checkout_page_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wirecard_checkout_page_write>
            <wirecard_checkout_page_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wirecard_checkout_page_read>
        </resources>
        <blocks>
            <wirecard_checkout_page>
                <class>Phoenix_WirecardCheckoutPage_Block</class>
            </wirecard_checkout_page>
        </blocks>

        <events>
            <sales_order_payment_place_end>
                <observers>
                    <phoenix_wirecard_checkout_page>
                        <model>wirecard_checkout_page/observer</model>
                        <method>salesOrderPaymentPlaceEnd</method>
                        <type>singleton</type>
                    </phoenix_wirecard_checkout_page>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </global>
    <frontend>
        <routers>
            <wirecard_checkout_page>
                <use>standard</use>
                <args>
                    <module>Phoenix_WirecardCheckoutPage</module>
                    <frontName>wirecard_checkout_page</frontName>
                </args>
            </wirecard_checkout_page>
        </routers>
        <translate>
            <modules>
                <Phoenix_WirecardCheckoutPage>
                    <files>
                        <default>Phoenix_WirecardCheckoutPage.csv</default>
                    </files>
                </Phoenix_WirecardCheckoutPage>
            </modules>
        </translate>
        <layout>
            <updates>
                <wirecard_checkout_page>
                    <file>wirecard_checkout_page.xml</file>
                </wirecard_checkout_page>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Phoenix_WirecardCheckoutPage>
                    <files>
                        <default>Phoenix_WirecardCheckoutPage.csv</default>
                    </files>
                </Phoenix_WirecardCheckoutPage>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <wirecard_checkout_page_select>
                <active>0</active>
                <model>wirecard_checkout_page/select</model>
                <title>Change this text</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_select>
            <wirecard_checkout_page_cc>
                <active>0</active>
                <model>wirecard_checkout_page/cc</model>
                <title>CreditCard</title>
                <useIFrame>0</useIFrame>
                <pci3DssSaqAEnable>0</pci3DssSaqAEnable>
                <data_storage>1</data_storage>
                <show_issue_date>1</show_issue_date>
                <show_issue_number>1</show_issue_number>
                <show_cardholder>1</show_cardholder>
                <show_cvc>1</show_cvc>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_cc>
            <wirecard_checkout_page_ccMoto>
                <active>0</active>
                <model>wirecard_checkout_page/ccMoto</model>
                <title>CreditCard MoTo</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <pci3DssSaqAEnable>0</pci3DssSaqAEnable>
                <show_cardholder>1</show_cardholder>
                <show_cvc>1</show_cvc>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_ccMoto>
            <wirecard_checkout_page_elv>
                <active>0</active>
                <model>wirecard_checkout_page/elv</model>
                <title>Direct Debit</title>
                <useIFrame>0</useIFrame>
                <data_storage>1</data_storage>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <seamless_option>1</seamless_option>
            </wirecard_checkout_page_elv>
            <wirecard_checkout_page_sepadd>
                <active>0</active>
                <model>wirecard_checkout_page/sepaDd</model>
                <title>SEPA Direct Debit</title>
                <useIFrame>0</useIFrame>
                <data_storage>1</data_storage>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_sepadd>
            <wirecard_checkout_page_eps>
                <active>0</active>
                <model>wirecard_checkout_page/eps</model>
                <title>eps Online Bank Transfer</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_eps>
            <wirecard_checkout_page_maestro>
                <active>0</active>
                <model>wirecard_checkout_page/maestro</model>
                <title>Maestro SecureCode</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_maestro>
            <wirecard_checkout_page_pbx>
                <active>0</active>
                <model>wirecard_checkout_page/pbx</model>
                <title>paybox</title>
                <useIFrame>0</useIFrame>
                <data_storage>1</data_storage>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_pbx>
            <wirecard_checkout_page_psc>
                <active>0</active>
                <model>wirecard_checkout_page/psc</model>
                <title>paysafecard</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_psc>
            <wirecard_checkout_page_quick>
                <active>0</active>
                <model>wirecard_checkout_page/quick</model>
                <title>@Quick</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_quick>
            <wirecard_checkout_page_wgp>
                <active>0</active>
                <model>wirecard_checkout_page/wgp</model>
                <title>giropay</title>
                <useIFrame>0</useIFrame>
                <data_storage>1</data_storage>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_wgp>
            <wirecard_checkout_page_paypal>
                <active>0</active>
                <model>wirecard_checkout_page/paypal</model>
                <title>PayPal</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
                <auto_deposit>0</auto_deposit>
            </wirecard_checkout_page_paypal>
            <wirecard_checkout_page_sofortueberweisung>
                <active>0</active>
                <model>wirecard_checkout_page/sofortueberweisung</model>
                <title>Sofortueberweisung</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_sofortueberweisung>
            <wirecard_checkout_page_idl>
                <active>0</active>
                <model>wirecard_checkout_page/idl</model>
                <title>IDeal</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_idl>
            <wirecard_checkout_page_c2p>
                <active>0</active>
                <model>wirecard_checkout_page/clickTwoPay</model>
                <title>CLICK2PAY</title>
                <useIFrame>0</useIFrame>
                <data_storage>1</data_storage>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_c2p>
            <wirecard_checkout_page_invoice>
                <active>0</active>
                <model>wirecard_checkout_page/invoice</model>
                <title>Invoice</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_invoice>
            <wirecard_checkout_page_installment>
                <active>0</active>
                <model>wirecard_checkout_page/installment</model>
                <title>Installment</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_installment>
            <wirecard_checkout_page_banContactMisterCash>
                <active>0</active>
                <model>wirecard_checkout_page/banContactMisterCash</model>
                <title>BanContact/MisterCash</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_banContactMisterCash>
            <wirecard_checkout_page_moneta>
                <active>0</active>
                <model>wirecard_checkout_page/moneta</model>
                <title>moneta.ru</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_moneta>
            <wirecard_checkout_page_przelewy>
                <active>0</active>
                <model>wirecard_checkout_page/przelewy</model>
                <title>Przelewy24</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_przelewy>
            <wirecard_checkout_page_poli>
                <active>0</active>
                <model>wirecard_checkout_page/poli</model>
                <title>POLi</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_poli>
            <wirecard_checkout_page_instantBank>
                <active>0</active>
                <model>wirecard_checkout_page/instantBank</model>
                <title>Trustly</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_instantBank>
            <wirecard_checkout_page_eKonto>
                <active>0</active>
                <model>wirecard_checkout_page/eKonto</model>
                <title>eKonto</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_eKonto>
            <wirecard_checkout_page_invoiceB2b>
                <active>0</active>
                <model>wirecard_checkout_page/invoiceB2b</model>
                <title>Invoice B2B</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_invoiceB2b>
            <wirecard_checkout_page_mpass>
                <active>0</active>
                <model>wirecard_checkout_page/mpass</model>
                <title>mpass</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_mpass>
            <wirecard_checkout_page_skrilldirect>
                <active>0</active>
                <model>wirecard_checkout_page/skrilldirect</model>
                <title>Skirll Direct</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_skrilldirect>
            <wirecard_checkout_page_skrillwallet>
                <active>0</active>
                <model>wirecard_checkout_page/skrillwallet</model>
                <title>Skirll Digital Wallet</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_skrillwallet>
            <wirecard_checkout_page_tatrapay>
                <active>0</active>
                <model>wirecard_checkout_page/tatraPay</model>
                <title>TatraPay</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_tatrapay>
            <wirecard_checkout_page_epaybg>
                <active>0</active>
                <model>wirecard_checkout_page/epaybg</model>
                <title>ePay.bg</title>
                <useIFrame>0</useIFrame>
                <allowspecific>0</allowspecific>
                <customer_id>D200001</customer_id>
                <secret_key>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret_key>
                <logo_url>images/logo.gif</logo_url>
                <service_url>about-magento-demo-store</service_url>
                <send_additional_data>0</send_additional_data>
                <detect_layout>0</detect_layout>
            </wirecard_checkout_page_epaybg>
        </payment>
    </default>
</config>